html {
  line-height: 1.5;
  background-color: #c9b5ab;
  font-size: .8rem;
  color: #222;
}

h1, h2, h3, h4 {
  font-size: 1.5rem;
  color: #3f1622;
  font-weight: bold;
}

header, h1, h2, h3, h4 {
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
}

img {
  width: 100%;
}

a {
  color: #8f2440
}

nav ol li {
  list-style-type: none;
}

a:link {
    text-decoration: none;
    font-weight: bold;
}

figcaption {
  font-size: .8rem;
  font-style: italic;
  text-align: center;
}

.days {
  font-size: 1.25rem;
  font-weight: bold;
}

blockquote {
  font-size: 1.125rem;
  font-style: italic;
}

cite {
  font-size: .8rem;
}

ol li {
  list-style-type: lower-greek;
}


font-family: 'PT Serif', serif;
font-family: 'PT Sans', sans-serif;
